/**********************************
MEDIA QUERY
***********************************/

@media screen and (min-width: 480px) {
  /**********************************
  TWO COLUMN LAYOUT
  ***********************************/
  #primary {
    width: 50%;
    float: left;
  }
  
  #seconday {
    width: 40%;
    float: right;
  }

}

@media screen and (min-width: 660px) {

}

@media screen and (min-width: 1024px) {

}

